<div *ngIf="logged"class="btn-container">
    <button class="link-btn" (click)="emitter('open');"*ngIf="has_save" >
        <i class="fa-solid fa-lg fa-pen-to-square"></i>
    </button>
    <button class="save-btn" (click)="emitter('create');" *ngIf="editing && !has_save">
        <i class="fa-solid fa-lg fa-circle-plus"></i>
    </button>
    <button class="edit-btn" (click)="emitter('edit');" *ngIf="!has_save">
        <i class="fa-solid fa-lg" [ngClass]="{
            'fa-pen-to-square':!editing,
            'fa-circle-xmark':editing
        }"></i>
    </button>
</div>