.portada {
    max-width: 100%;
    height: 40vh;
    /* background:url("../images/portada.jpeg"); */
    background-size:cover;
}
.fotocircular {
    border-radius: 50%;
    /* background: url("../images/Foto\ Formal.jpg"); */
    background-size: cover;
    margin: 5px;
    border:5px solid white;
    height: 200px;
    width: 200px;
    position: relative;
    bottom: 100px;
}

.icon-cont{
    display: inline-block;
    color: black;
    padding: 5px;
    margin: 2px;
    border-radius: 50%;
    height: 38px;
    width: 38px;
    text-align: center;
    position: relative;
}
.cont-foto{
    height: 100px;
}
body{
    background-color: #dae3e7;
}

.icon-cont:hover{
    transition: ease-in, color, 300ms;
    transform: translateY(-3px);
    color: #505050;
}
section.icons{
    cursor:pointer;
    user-select: none;
}
.header{
    background-color: white;
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }
.col-icon{margin: auto;}