<div class="card mb-4"> <!-- Card de skills-->
    <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">
            <div *ngFor="let item of items">
                <h6 class="card-subtitle mb-2 text-muted pt-3">
                    <div *ngIf="!this.editing">{{item.name}}</div>
                    <div class="btn btn-success"
                    style="padding: 0px 12px 1px 12px " 
                        *ngIf="this.editing"
                        (click)="handleEditEvent('update',item.id)"
                    >
                        {{item.name}}
                    </div>

                </h6>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" 
                        [ngStyle]="{'width': item.level+'%'}" 
                        aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
            </div>
        <!-- </p> -->
    </div>
    <app-base-button
        (editEvent)="handleEditEvent($event)"
        [editVar]="this.editing">
        [hasSaveVar]="false"
    </app-base-button>
</div> 