.navbar-login{
    position:absolute ;
    right:20px;
}

.spinner-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    font-size: 3em;
  }
  
  .spinner-border {
    width: 5rem;
    height: 5rem;
  }
  