<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5 fixed-top">
    <a class="navbar-brand" href="#">
        <img src="assets/images/logo.png" width="30" height="30" class="d-inline-block align-top " alt="">
        #YoProgramo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav nav-fill w-100">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Acerca de</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Experiencia</a> <!--  --> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</a>
            </li>
        </ul>
    </div>
</nav>

<img class="card-img pt-5" src="assets/images/portada.jpeg" alt="Portada">
<div class="header">
    <div class="container">
        
        <div class="row">
            <div class="col col-lg-3 col-md-4 col-12 cont-foto">
                <div class="fotocircular"></div>
            </div>
            <div class="col col-md-8 col-12 py-4">
                <h1 class="name">Lautaro Antuel Aubert</h1>
                <h3 class="desc">Software Developer</h3>
                <section class="icons">
                <a class="icon-cont"><i class="fa-brands fa-instagram fa-xl"></i></a>
                <a class="icon-cont"><i class="fa-brands fa-twitter fa-xl"></i></a>
                <a class="icon-cont"><i class="fa-brands fa-linkedin fa-xl"></i></a>
                <a class="icon-cont"><i class="fa-brands fa-github fa-xl"></i></a>
                <a class="icon-cont"><i class="fa-brands fa-whatsapp fa-xl"></i></a>
                </section>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-4">
        <div class="col-lg-8 col-12">
            <!-- Aboutme -->
            <!-- Proyectos -->
            <!-- Experiencia laboral -->
        </div>
        <div class="col-lg-4 col-12">
            <!-- Contacto -->            
            <!-- Skills -->
            <!-- Educacion -->
            <!-- Idiomas -->            
        </div>
    </div>
</div>