<div class="card mb-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item mt-2"><h5 class="list-title">Educación</h5></li>
      <li class="list-group-item" *ngFor="let item of items">
        <div class="row">
            <div class="col-1 col-icon">
                <i class="fa-solid" [ngClass]="item.icon"></i>
            </div>
            <div class="col">
                <b class="text-muted">{{item.degree}}</b>
                <p class="mb-0">{{item.school}}</p>
                <p class="mb-0">({{item.year}})</p>
            </div>
            <div class="btn btn-success btn-pen"
                *ngIf="this.editing"
                (click)="handleEditEvent('update',item.id)"
            >
                <i class="fas fa-pen"></i>
            </div>
        </div>
      </li>
    </ul>
    <app-base-button
        (editEvent)="handleEditEvent($event)"
        [hasSaveVar]="false"
        [editVar]="this.editing">
    </app-base-button>
</div>