<div class="card mb-4"> <!-- Card experiencia laboral -->
    <ul class="list-group list-group-flush">
        <li class="list-group-item mt-2">
            <h5 class="list-title">{{title}}</h5>
        </li>
        <li class="list-group-item" *ngFor="let item of items">
            <div class="row">
                <div class="col-sm-5">
                    <img [src]="item.imagen" (error)="onImageLoadError($event)" alt="" width="100%">
                </div>
                <div class="col-sm">
                    <h5 class="card-title">{{item.titulo}}</h5>
                    <h6 class="card-title text-muted">{{item.ano}}</h6>
                    <p class="card-text">{{item.descripcion}}</p>
                </div>
            </div>
            <app-ud-button
                [itemVar]="item"
                (deleteEvent)="send_data_to_modal($event, 'delete')"
                (updateEvent)="handleEditEvent('update',$event)"
                *ngIf="editing">
                <!-- (editEvent)="handleEditEvent($event)"  -->
                <!-- (deleteEvent)="handleDeleteEvent($event)" -->
            </app-ud-button>
        </li>
    </ul>
    <app-base-button *ngIf="this.isLogged"
        (editEvent)="handleEditEvent($event)" 
        [editVar]="this.editing"
        [hasSaveVar]="false">
    </app-base-button>
</div>

  
